interface {{ interface }}
 description {{ description }}
 switchport access vlan {{ access_vlan }}
 switchport mode {{ mode }}
 switchport trunk native vlan {{ native_vlan }}
 switchport trunk encapsulation {{ trunk_encap }}