vlan 4
  name Vlan4
vlan 5
  name Vlan5
!

{% for int in interface_accessport %}
  {% if hostname == int.hostname %}
    interface {{int}}
      switchport mode access
      switchport access {{int.vlan}}
  {% endif %}
{% endfor %}
!
