vlan 4
  name Vlan4
vlan 5
  name Vlan5

!
{% for i in access_ports %}
{% if i == 'GigabitEthernet0/3' %}
interface {{i}}
 switchport access vlan 4
{% else %}
interface {{i}}
 switchport access vlan 5
{% endif %}
{% endfor %}
!
