vlan 4
  name Vlan4
vlan 5
  name Vlan5
!

{% for i in int_access %}
  {% if i.id == 1 and i.hostname == hostname %}
   interface {{i.name}}
      switchport mode access
      switchport access vlan 4
  {% elif i.id == 2 and i.hostname == hostname %}
    interface {{i.name}}
      switchport mode access
      switchport access vlan 5
  {% endif %}
{% endfor %}
!
